
<main class="main">
  <div class="content">

    <div class="left-side">
      <h1 >Hello, {{ title }}
        
      </h1>
      <div appMovingElement="salmon" [duration]="15" class="pill">
        ✨🦄🪽
      </div>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>

<div class="container">
  <app-aurora [text]="['This is me calling', 'Out of Africa', 'And right into the wild wild west...']"></app-aurora>
</div>
<!-- <div class="demo--dancing-shadows">
  <h1 class="demo--dancing-shadows__title">
    <span class="text-wrapper">
      <span class="text-items">
        <span class="text-item text-item--1">Aurora</span>
        <span class="text-item text-item--2">Borealis</span>
        <span class="text-item text-item--3">Text</span>
      </span>
     </span>
  </h1>
</div> -->

<router-outlet />
